{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_secretsanta/content

    Template purpose and description.

    Classes required for JS:
    * TODO

    Data attributes required for JS:
    * TODO

    Context variables required for this template:
    * TODO

    Example context (json):
    {
      "drawn": true,
      "starurl": "/blocks/secretsanta/pix/star.svg"
      "toofewusers": false,
      "isparticipating": true,
      "notargetuser": false
      "name": "Paola",
      "candraw": true,
      "drawurl": "mysite/blocks/secretsanta/action_draw.php",
      "reseturl": "mysite/blocks/secretsanta/action_reset.php"
      "selectusersform": "<form> ... </form>".
      "canviewresult": true,
      "viewdrawurl": "mysite/blocks/secretsanta/view_draw.php",
    }
}}

<div class="block_secretsanta_content">
    <div class="d-flex card text-center">
      <img class="card-img" src="{{starurl}}" alt="">
        <div class="card-img-overlay">
        {{^drawn}}
          {{#toofewusers}}
          <div>{{#str}}toofewusers, block_secretsanta{{/str}}</div>
          {{/toofewusers}}
          {{^toofewusers}}
          <div>{{#str}}waiting, block_secretsanta{{/str}}</div>
          {{/toofewusers}}
        {{/drawn}}
        {{#drawn}}
          {{^isparticipating}}
            <div>{{#str}}notparticipating, block_secretsanta{{/str}}</div>
          {{/isparticipating}}
          {{#isparticipating}}
          {{^notargetuser}}
          <div>{{#str}}you_are, block_secretsanta{{/str}}<span class="name">{{name}}</span></div>
          {{/notargetuser}}
          {{#notargetuser}}
          <div>{{#str}}targetusernotfound, block_secretsanta{{/str}}</div>
          {{/notargetuser}}
          {{/isparticipating}}
        {{/drawn}}
        </div>
    </div>
  {{#candraw}}
    <div class="d-flex justify-content-center">
      <form method="post">
        <input type="hidden"/>
        <input type="submit" class="draw btn btn-primary m-1" data-action="draw" formaction="{{drawurl}}" value="{{#str}}draw, block_secretsanta{{/str}}"/>
        <input type="submit" class="reset btn btn-primary m-1" data-action="reset" formaction="{{reseturl}}" value="{{#str}}reset, block_secretsanta{{/str}}"/>
      </form>
    </div>
    <div>
      {{{selectusersform}}}
    </div>
  {{/candraw}}
  {{#canviewresult}}
    <div class="d-flex justify-content-center">
      <form method="post">
          <input type="hidden"/>
          <input type="submit" class="draw btn btn-primary mx-1" data-action="viewdraw" formaction="{{viewdrawurl}}" value="{{#str}}viewdraw, block_secretsanta{{/str}}"/>
        </form>
    </div>
  {{/canviewresult}}
</div>

