{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_secretsanta/result

    Template purpose and description.

    Classes required for JS:
    * TODO

    Data attributes required for JS:
    * TODO

    Context variables required for this template:
    * TODO

    Example context (json):
    {
      "drawn": true,
      "name": "Paola"
    }
}}

<div class="block_secretsanta_content">
  <div class="d-flex justify-content-center p-2">
    {{^drawn}}
      {{#toofewusers}}
      <div>{{#str}}toofewusers, block_secretsanta{{/str}}</div>
      {{/toofewusers}}
      {{^toofewusers}}
      <div>{{#str}}waiting, block_secretsanta{{/str}}</div>
      {{/toofewusers}}
    {{/drawn}}
    {{#drawn}}
      <div>{{#str}}you_are, block_secretsanta{{/str}}<span class="name">🌲  {{name}}</span></div>
    {{/drawn}}
  </div>
  {{#candraw}}
  <div class="d-flex justify-content-center">
      <button class="draw btn btn-primary mx-1">{{#str}}draw, block_secretsanta{{/str}}</button>
      <button class="reset btn btn-primary mx-1">{{#str}}reset, block_secretsanta{{/str}}</button>
  </div>
  {{/candraw}}
  {{#canviewresult}}
  <div><pre>{{users}}</pre></div>
  <div><pre>{{pairs}}</pre></div>
  {{/canviewresult}}
</div>

